<html>
  <head>
  </head>
  <body>
    <h1>Well, well, well, <%= name %>!</h1>
    <h2>Welcome to Secret Santa, October 2015 Cohort!</h2>

    <p>
      <% if !email.empty? %> It looks like your public email address is <%= email %>.
      <% else %> It looks like you don't have a public email. That's cool.
      <% end %>
    </p>
  </body>
</html>
