body {
  width: 700px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #FDFDF1;
  display: inline-block;
  width: inherit;
  overflow: hidden;
}

.header img{
  height: 75px;
  float: left;
  vertical-align: middle;
}

h1 {
  font-family: 'Cabin';
  font-size: 43px;
  font-weight: bold;
}

.header h1 {
  float: left;
  margin: 0 0 0 15px;
  padding: 0;
  line-height: 75px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #A81D21;
}
